---
layout: single
title: Applications
permalink: /applications/
---

{% for category_iter in site.data.category_list %}
  {% capture category_id %}{{ category_iter[0] }}{% endcapture %}
  {% assign category = category_iter[1] %}

  {% if category.children != null  %}
    {% assign num_articles = 0 %}
    {% for child_iter in category.children %}
      {% capture child_category_name %}{{ child_iter[0] }}{% endcapture %}
      {% assign child_post_category = site.categories[child_category_name] %}
      {% assign num_child_articles = child_post_category | size %}
      {% assign num_articles = num_articles | plus : num_child_articles %}
    {% endfor %}
  {% else %}
    {% assign post_category = site.categories[category_id] %}
    {% assign num_articles = post_category | size %}
  {% endif %}
  <div class="column col-4 col-md-6 col-sm-12">
    <a href="{{ site.baseurl }}/{{ category_id | slugify }}">
      <div class="card card-link">
        <div class="card-body text-center my-4">
          <h5 class="text-bold">{{ category.name }}</h5>
          {% if category.size == 1 %}
          <p class="m-0">{{ num_articles }} article</p>
          {% else %}
          <p class="m-0">{{ num_articles }} articles</p>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
{% endfor %} 