---
layout: page
title: 카페 맞춤형 AI 생두 분류기<br>(준비 중)
permalink: /coffee/

header:
  overlay_image: /assets/images/coffee/coffee-main.png
  overlay_filter: 0.1
---

<section class="diagonal alternate text-right">
  <div class="container halves">
    <div>
			<div class="image-list">
        <img src="{{ site.baseurl }}/assets/images/coffee/coffee-product.png" width="300">
      </div>
		</div>
    <div>
      <h3>마인드포지의 카페 맞춤형 AI 생두 자동 분류기는</h3>
      <p>AI 기술을 활용하여 자동으로 생두를 검출하고<br>빠르게 높은 품질로 자동 분류하며<br>전문가 레시피 제공과 함께 카페마다 차별화된 레시피를 갖도록 합니다</p>
    </div>
  </div>
  <div class="container">
    <ul class="item-grid">
      <li class="rectangle shadow">
        <div class="text-box">
          <span class="material-symbols-outlined" style="font-size: 3.0rem;"> schedule </span>
          <h3>작업시간 단축 및 운영비 절감</h3>
          <p>작업자에 따라 일정하지 않은 선별 품질을 일정하게 유지하며, 작업시간을 단축, 운영비를 절감</p>
        </div>
      </li>
      <li class="rectangle shadow">
        <div class="text-box">
          <span class="material-symbols-outlined" style="font-size: 3.0rem;"> social_leaderboard </span>
          <h3>경쟁력 및 자생력 강화</h3>
          <p>전문가 레시피 제공으로 전문가급의 높은 선별 품질, 카페만의 레시피 설정 및 학습 자동화를 통해 경쟁력 및 자생력 강화</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container">
    <h4>핸드픽(Hand pick)은 커피의 맛과 향을 위해 결점두를 손으로 직접 골라내는 작업입니다</h4>
    <div class="image-list">
      <img src="{{ site.baseurl }}/assets/images/coffee/coffee-handpick.png">
    </div>

    <p>커피의 맛과 향을 위해 생두 핸드픽, 로스팅 원두 핸드픽 등을 반드시 수행<br>생두 상태의 결점은 성장, 수확, 가공 과정 사이에서 다양하게 발생하며, 커피 맛의 영향뿐만 아니라 로스팅 과정에도 영향을 미치는 중요한 요소</p>
  </div>
</section>

<section class="diagonal alternate text-center">
  <div class="container">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <h2 style="display:contents;">'세계 최초'</h2> <h4 style="display:contents;">카페 맞춤형 AI 생두 자동 분류기로 소상공인과 상생을!</h4>
    <ul class="item-grid">
      <li class="rectangle shadow">
        <div class="text-box">
          <span class="material-symbols-outlined" style="font-size: 3.0rem;"> high_quality </span>
          <h3>핸드픽 작업시간 단축  및 커피 품질 개선</h3>
          <p>카페 소상공인 자생력 및 경쟁력 강화</p>
        </div>
      </li>
      <li class="rectangle shadow">
        <div class="text-box">
          <span class="material-symbols-outlined" style="font-size: 3.0rem;"> verified </span>
          <h3>전문가 핸드픽급의 고급 커피 시장</h3>
          <p>로스팅 업체와의 제휴 및 소형 로스터리 카페 시장 확대</p>
        </div>
      </li>
      <li class="rectangle shadow">
        <div class="text-box">
          <span class="material-symbols-outlined" style="font-size: 3.0rem;"> safety_check </span>
          <h3>눈에 보이지 않는 곰팡이 결점두도 찾아내는 정확성</h3>
          <p>커피 상품의 안전성 확보</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container">
    <h3 class="text-center">핸드픽 대체 가능한 저가, 소형, 고성능의 카페 맞춤형 AI 생두 자동 분류기</h3>
    <div class="image-list">
      <img src="{{ site.baseurl }}/assets/images/coffee/coffee-spec.png">
    </div>
    <ul>
      <li>양면의 2대의 카메라를 기반으로 자동 분류</li>
      <li>전문가 핸드픽 레시피 기본 탑재</li>
      <li>선별모드 선택, 선별기준 설정, 레시피 학습 등 지원</li>
      <li>터치형 UI</li>
    </ul>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container">
    <h3>고객님만의 레시피를 구성할 수 있습니다</h3>
    <div class="image-list">
      <img src="{{ site.baseurl }}/assets/images/coffee/coffee-classification.png">
    </div>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container">
    <h3>안전하고 맛있는 커피의 품질을 제공합니다</h3>
    <div class="image-list">
      <img src="{{ site.baseurl }}/assets/images/coffee/coffee-news1.png">
    </div>
    <div>
      <p>최근 기사에서 식약처는 시중 판매중인 에티오피아산 생두에서 암을 유발하는 물질인 오크라톡시 A 곰팡이독소가 기준치(5ug/kg 이하)보다 2배 이상 초과 검출
        (검체1:13.0ug/kg, 검체2: 12.5ug/kg)<br><출처: 식약처 보도자료></p>
    </div>
  </div>
</section>

{% if demo_id %}
<section class="diagonal alternate text-center">
  <div class="container">
    <h4>Demo video</h4>
    {% include video.html id=demo_id provider="youtube" %}
  </div>
</section>
{% endif %}