---
layout: page
title: 얼굴인식
permalink: /face-recognition/

header:
  overlay_image: /assets/images/face-recognition.jpg
  overlay_filter: 0.5
---

<section class="diagonal alternate text-right">
	<div class="container">
    <h3>마인드포지의 AI 얼굴인식 솔루션은</h3>
    <p>저가격, 저전력, 높은 인식 속도, 높은 인식 성능으로 <br>에지 디바이스에 최적화되어 있습니다.
    </p>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
    <ul class="image-list">
      <li><img src="{{ site.baseurl }}/assets/images/face-recognition-on-edge-device.png"></li>
    </ul>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves aligned-top">
    <div>
      <h4>Low Cost</h4>
      <p>ARM 1.4GHz 이상 AP와 <br>소매가 $16 외장 NPU를 이용하여 <br>딥러닝 기반의 얼굴인식 수행 가능</p>
    </div>
    <div>
      <h4>Low Power Consumption</h4>
      <p>딥러닝 연산 2.8 TOPs @ 224mW</p>
    </div>
    <div>
      <h4>High Accuracy</h4>
      <p>99.3% accuracy</p>
    </div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
    <h4>High Speed</h4>
    <p>ARM 1.4GHz 이상 AP와 소매가 $16 외장 NPU를 이용하여 딥러닝 기반의 얼굴인식 수행 가능</p>
    <ul class="image-list">
      <li><img src="{{ site.baseurl }}/assets/images/face-recognition-speed.png"></li>
    </ul>
	</div>
</section>

{% for demo in site.data.demo.links %}
  {% if demo.name == page.title %}
    {% assign demo_id = demo.id %}
  {% endif %}
{% endfor %}

{% if demo_id %}
  <section class="diagonal alternate text-center">
    <div class="container">
      <h4>Demo video</h4>
      {% include video.html id=demo_id provider="youtube" %}
    </div>
  </section>
{% endif %}