---
layout: page
title: GeoAI
permalink: /geo-ai/

header:
  overlay_color: "#FFA715"
---

<section class="diagonal alternate overlay text-right"  style="
  background-image: url({{ site.baseurl }}/assets/images/geoai/geoai-main.jpg);
  background-size: cover; background-position: center;">
  <div class="container">
    <h3>GeoAI는</h3>
    <p>공간정보과학(Geospatial Science; Spatial Data Science)과 인공지능(Artificial Intelligence)의 합성어로 <br>공간 빅데이터로부터 유의미한 정보를 도출하기 위해 <br>인공지능 기술과 고성능 컴퓨터를 활용하는 분야입니다.</p>
  </div>
</section>


<section class="diagonal alternate text-center">
	<div class="container">
    <h4>마인드포지의 GeoAI 솔루션은</h4>
    <p>항공/위성, 초분광 영상에 적용되어 토지 및 산림를 분류합니다.</p>
  </div>
</section>

<section class="diagonal alternate">
	<div class="container">
    <h3>어플리케이션</h3>
    <ul class="image-grid">
      <li class="rectangle wide shadow">
        <div class="image-box">
          <a href="{{ site.baseurl }}/assets/images/geoai/geoai-landcover.png" class="image-popup">
            <img src="{{ site.baseurl }}/assets/images/geoai/geoai-landcover.png">
          </a>
        </div>
        <div class="text-box">
          <p>국토환경의 현황 및 시계열 변화탐지를 위한 토지피복지도 인공지능 학습용 데이터 및 인공지능 모델 고도화</p>
        </div>
      </li>
      <li class="rectangle wide shadow">
        <div class="image-box">
          <a href="{{ site.baseurl }}/assets/images/geoai/geoai-hyperspectral.png" class="image-popup">
            <img src="{{ site.baseurl }}/assets/images/geoai/geoai-hyperspectral.png">
          </a>
        </div>
        <div class="text-box">
          <p>150채널 초분광 카메라 영상 분석으로 농작물 분석</p>
        </div>
      </li>
      <li class="rectangle wide shadow">
        <div class="image-box">
          <a href="{{ site.baseurl }}/assets/images/geoai/geoai-damagedmountain.png" class="image-popup">
            <img src="{{ site.baseurl }}/assets/images/geoai/geoai-damagedmountain.png">
          </a>
        </div>
        <div class="text-box">
          <p>산지보전협회의 시계열 데이터를 통한 훼손산지 분석을 위한 AI학습 및 고해상도 이미지 추론</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="diagonal alternate text-left">
	<div class="container">
    <h3>GeoAI 활동</h3>
    <h5>NIA 인공지능 학습용 데이터 구축사업</h5>
    <p>      2020년 농업데이터 초분광 영상
      2020년 피복지도 및 산림수종 AI데이터
      2021년 토지 피복지도 데이터
      2021년 산림 수종 데이터
      2022년 식생 탄소 포집량 식별 데이터
      2022년 토지피복지도 항공위성 이미지 데이터 고도화
      2022년 온실가스 지중저장 적지 탐사 데이터
    </p>
    <h5>GeoAI 연구 개발 용역</h5>
    <p>      2022년 산지보전협회 훼손산지 분석
      2022년 한국환경연구원(KEI) 흰발농게 모니터링
      2022년 한국환경연구원(KEI) 동물 서식흔적 모니터링
      2023년 농촌경제연구원 위성정보를 활용한 농촌공간재생 계획 지원 및 모니터링 (항우연 과제)
    </p>
      
    <h5>NIPA AI바우처 지원사업</h5>
    <p>      2023년 AI바우처 드론영상 AI인식 기반 설계도면 자동생성</p>
      
    <h5>민·군겸용기술개발사업</h5>
    <h5>논문실적</h5>
    <p>      저널: Remote sensing, 2020, 12(20)
      Classification of Landscape Affected by Deforestation Using High-Resolution Remote Sensing Data and Deep-Learning Techniques
    </p>
      
    <h5>학술활동</h5>
    <p>      지오에이아이데이터학회 산학협력이사
      </p>
  </div>
</section>

{% for demo in site.data.demo.links %}
  {% if demo.name == page.title %}
    {% assign demo_id = demo.id %}
  {% endif %}
{% endfor %}

{% if demo_id %}
  <section class="diagonal alternate text-center">
    <div class="container">
      <h4>Demo video</h4>
      {% include video.html id=demo_id provider="youtube" %}
    </div>
  </section>
{% endif %}