---
layout: default
permalink: /
---

<section class="hero diagonal">
	<div class="container">
		<h2>AI 연구 개발자 모집(인턴)</h2>
    <p class="subtext editable">Edge Device AI 솔루션 전문기업 마인드포지에서 미래를 함께 할 인재를 모십니다.<br>
    접수기간: 2020년 9월 11일까지</p>
  </div>
  
  <a class="button alt" href="{{ site.baseurl }}/downloads/200828_recruiting.pdf">모집공고 다운(pdf)</a>
</section>

{% comment %} <section class="hero diagonal">
	<div class="container">
		<h2>Edge Device AI 솔루션<br> 전문기업</h2>
    <p class="subtext editable">Edge Device에서 실시간 데이터 처리를 위한<br> AI 솔루션 개발을 전문으로 하는 기업입니다</p>
  </div>

  <canvas id="animation" width="1080" height="720"> </canvas>
  <script src="{{ site.baseurl }}/assets/js/canvas.js"></script>
</section> {% endcomment %}

<section class="diagonal alternate">
	<div class="container halves">
    <div class="container">
      <h2>AI 바우처 공급기업</h2>
      <p class="subtext editable">AI 활용ㆍ확산 촉진을 위하여 AI솔루션 수요기업에게 바우처를 발급하고, <br>수요기업은 바우처를 활용하여 공급기업의 원하는 AI솔루션을 활용할 수 있는<br> 정부지원 사업입니다</p>
      <a class="button alt" href="http://www.bizinfo.go.kr/see/seea/selectSEEA140Detail.do?menuId=80001001001&pblancId=PBLN_000000000051348">AI 바우처 지원사업</a>
    </div>
    <div>
      <ul class="image-list">
        <li><img src="{{ site.baseurl }}/assets/images/ai_voucher.png" width="400"></li>
      </ul>
    </div>
  </div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/assets/images/pose-estimation.png" width="200"></li>
			</ul>
		</div>
		<div>
      <h2>포즈검출</h2>
      <h5>마인드포지의 AI 포즈검출 솔루션은</h5>
			<p>저가격, 저전력, 높은 인식 속도, 높은 인식 성능으로 <br>에지 디바이스에 최적화되어 있습니다.</p>
      <a class="button alt" href="/pose-estimation/">더 자세히 보기</a>
    </div>
	</div>
</section>

<section class="diagonal alternate overlay" style="
  background-image: url({{ site.baseurl }}/assets/images/face-recognition.jpg);
  background-size: cover;
  background-position: center;">
	<div class="container">
		<!-- <div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/assets/images/face-recognition-on-edge-device.png" width="400"></li>
			</ul>
		</div> -->
		<div>
			<h2>얼굴인식</h2>
      <h5>마인드포지의 AI 얼굴인식 솔루션은</h5>
			<p>저가격, 저전력, 높은 인식 속도, 높은 인식 성능으로 <br>에지 디바이스에 최적화되어 있습니다.</p>
      <a class="button alt" href="/face-recognition/">더 자세히 보기</a>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
    <div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/assets/images/semantic-segmentation.png" width="400"></li>
			</ul>
		</div>
    <div>
			<h2>GeoAI</h2>
      <h5>마인드포지의 GeoAI 솔루션은</h5>
			<p>위성 영상에 적용되어 토지를 분류합니다.</p>
      <a class="button alt" href="/geo-ai/">더 자세히 보기</a>
		</div>
	</div>
</section>

<section class="diagonal alternate overlay text-center" style="
  background-image: url({{ site.baseurl }}/assets/images/object-detection-parking-lot.png);
  background-size: cover;
  background-position: center;">
	<div class="container">
    <div>
      <h2>객체검출</h2>
      <h5>마인드포지의 객체검출 솔루션은</h5>
			<p>주차장의 점유공간을 카메라로 인식하여 주차위치안내시스템에 적용되었습니다.</p>
      <a class="button alt" href="/object-detection/">더 자세히 보기</a>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h2>마인드포지 AI 솔루션</h2>
			<p>데모 영상을 살펴보세요.</p>
		</div>
		<div>
			<ul class="image-grid">
        {% for demo in site.data.demo.links limit: 4 %}
        <li>
          {% include video.html id=demo.id provider="youtube" %}
        </li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>