---
layout: page
title: MonoEye
permalink: /monoeye/

header:
  overlay_image: /assets/images/monoeye/monoeye-main.jpg
  overlay_filter: 0.1
---

<section class="diagonal alternate">
  <div class="container halves">
    <div>
      <h3>마인드포지의 MonoEye AI 인식 솔루션은</h3>
      <p>단일 광각카메라를 이용하여 넓은 범위의<br>충돌 위험 객체 감지 및 주행가능 정보를 획득합니다</p>
    </div>
    <div>
      <div class="image-list">
        <img src="{{ site.baseurl }}/assets/images/monoeye/monoeye-solution.png">
      </div>  
    </div>
  </div>
</section>

<section class="diagonal alternate text-center">
  <div class="container">
    <h3>안전을 위한 다양한 어플리케이션에 적용해 보세요</h3>
    <ul class="item-grid">
      <li class="rectangle shadow">
        <div class="image-box">
          <img src="{{ site.baseurl }}/assets/images/monoeye/monoeye-app_emergency_brake.png">
        </div>
        <div class="text-box">
          <p>골목길, 주차장 등과 같은 환경에서<br>후진 중 안전을 위한 차량 후방 긴급 제동</p>
        </div>
      </li>
      <li class="rectangle shadow">
        <div class="image-box">
          <img src="{{ site.baseurl }}/assets/images/monoeye/monoeye-app_collision_hazard_detection.png">
        </div>
        <div class="text-box">
          <p>산업현장에서 작업자 안전을 위한 <br>작업자 충돌 위험</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="diagonal alternate text-center">
  <div class="container">
    <h3>안전을 위한 다양한 전시회에 참가중입니다</h3>
    <img src="{{ site.baseurl }}/assets/images/monoeye/monoeye-exhibition.png">
  </div>
</section>

<section class="diagonal alternate text-right">
	<div class="container halves">
    <div>
      <div class="image-list">
        <img src="{{ site.baseurl }}/assets/images/news/award-1.jpg" width="400">
      </div>
    </div>
    <div class="container">
      <h2>제6회 안전 신기술 공모전<br>최우수상 수상</h2>
      <p class="subtext">안전보건공단과 울산창조경제혁신센터에서<br>기존 안전산업 제품과 차별화된 혁신적인 안전 신기술을 보유한<br>스타트업·벤처 및 예비창업자를 발굴하여 육성·지원 하기 위한 공모전입니다.</p>
      <a class="button alt" href="https://www.all-con.co.kr/view/contest/495350">관련 링크</a>
    </div>
  </div>
</section>

{% for demo in site.data.demo.links %}
{% if demo.name == page.title %}
{% assign demo_id = demo.id %}
{% endif %}
{% endfor %}

{% if demo_id %}
<section class="diagonal alternate text-center">
  <div class="container">
    <h4>Demo video</h4>
    {% include video.html id=demo_id provider="youtube" %}
  </div>
</section>
{% endif %}
