---
layout: page
title: 산업용 MonoEye 카메라<br>(준비 중)
permalink: /monoeye-chdet/

header:
  overlay_image: /assets/images/monoeye_chdet/monoeye_chdet-main.png
  overlay_filter: 0.1
---

<section class="diagonal alternate text-right">
  <div class="container">
    <h3>마인드포지의 산업용 MonoEye 카메라는</h3>
    <p>단일 광각 카메라 기반의 AI 기술을 활용하여 충돌위험 대상 인식 및 거리 감지를 통한 충돌위험 감지 시스템입니다</p>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container">
    <div class="image-list">
      <img src="{{ site.baseurl }}/assets/images/coffee/coffee-product.png">
    </div>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container">
    <h3>핸드픽(Hand pick)은</h3>
    <h5>커피의 맛과 향을 위해 결점두를 손으로 직접 골라내는 작업입니다</h5>
    <div class="image-list">
      <img src="{{ site.baseurl }}/assets/images/coffee/coffee-handpick.png">
    </div>

    <p>커피의 맛과 향을 위해 생두 핸드픽, 로스팅 원두 핸드픽 등을 반드시 수행<br>생두 상태의 결점은 성장, 수확, 가공 과정 사이에서 다양하게 발생하며, 커피 맛의 영향뿐만 아니라 로스팅 과정에도 영향을 미치는 중요한 요소</p>
  </div>
</section>


<section class="diagonal alternate">
  <div class="container">
    <div class="image-list">
      <img src="{{ site.baseurl }}/assets/images/coffee/coffee-classification.png">
    </div>
  </div>
</section>

<section class="diagonal alternate text-center">
  <div class="container">
    <div class="image-list">
      <img src="{{ site.baseurl }}/assets/images/coffee/coffee-news1.png">
    </div>
    <div>
      <p>최근 기사에서 식약처는 시중 판매중인 에티오피아산 생두에서 암을 유발하는 물질인 오크라톡시 A 곰팡이독소가 기준치(5ug/kg 이하)보다 2배 이상 초과 검출
        (검체1:13.0ug/kg, 검체2: 12.5ug/kg) <출처: 식약처 보도자료></p>
    </div>
  </div>
</section>

{% if demo_id %}
<section class="diagonal alternate text-center">
  <div class="container">
    <h4>Demo video</h4>
    {% include video.html id=demo_id provider="youtube" %}
  </div>
</section>
{% endif %}