---
layout: page
title: 객체검출
permalink: /object-detection/

header:
  overlay_image: /assets/images/objectd/object-detection.png
  overlay_filter: 0.1
---

<section class="diagonal alternate text-right">
	<div class="container">
    <h3>마인드포지의 AI 객체검출 솔루션은</h3>
    <p>주차장의 점유공간을 카메라로 인식하여 <br>주차위치안내시스템에 적용되었습니다.</p>
  </div>
</section>

<section class="diagonal alternate">
	<div class="container">
    <ul class="image-list">
      <li><img src="{{ site.baseurl }}/assets/images/objectd/object-detection-on-edge-device.png"></li>
    </ul>
  </div>
</section>

<section class="diagonal alternate">
  <div class="container">
    <h4>Processing time</h4>
    <p>NVIDIA Jetson Nano에서 동작</p>
    <ul class="image-list">
      <li><img src="{{ site.baseurl }}/assets/images/objectd/object-detection-speed.png"></li>
    </ul>
  </div>
</section>

{% for demo in site.data.demo.links %}
  {% if demo.name == page.title %}
    {% assign demo_id = demo.id %}
  {% endif %}
{% endfor %}

{% if demo_id %}
  <section class="diagonal alternate text-center">
    <div class="container">
      <h4>Demo video</h4>
      {% include video.html id=demo_id provider="youtube" %}
    </div>
  </section>
{% endif %}