---
layout: page
title: 포즈검출
permalink: /pose-estimation/
---

<section class="diagonal alternate text-right">
	<div class="container">
    <h3>마인드포지의 AI 포즈검출 솔루션은</h3>
    <p>저가격, 저전력, 높은 인식 속도, 높은 인식 성능으로 <br>에지 디바이스에 최적화되어 있습니다.</p>
  </div>
</section>

<section class="diagonal alternate">
	<div class="container">
    <div class="image-list">
      <img src="{{ site.baseurl }}/assets/images/pose/pose-estimation-on-edge-device.png">
    </div>
  </div>
</section>

{% for demo in site.data.demo.links %}
  {% if demo.name == page.title %}
    {% assign demo_id = demo.id %}
  {% endif %}
{% endfor %}

{% if demo_id %}
  <section class="diagonal alternate text-center">
    <div class="container">
      <h4>Demo video</h4>
      {% include video.html id=demo_id provider="youtube" %}
    </div>
  </section>
{% endif %}