---
layout: page
title: 세그멘테이션
permalink: /segmentaion/
---

<section class="diagonal alternate">
	<div class="container">
    <h4>
      마인드포지의 AI 세그멘테이션 솔루션은 위성 영상에 적용되어 토지를 분류합니다. 
    </h4>
    <ul class="image-list">
      <li><img src="{{ site.baseurl }}/assets/images/semantic-segmentation-process.png"></li>
    </ul>
  </div>
</section>

{% for demo in site.data.demo.links %}
  {% if demo.name == page.title %}
    {% assign demo_id = demo.id %}
  {% endif %}
{% endfor %}

{% if demo_id %}
  <section class="diagonal alternate">
    <div class="container">
      <h4>Demo video</h4>
      {% include video.html id=demo_id provider="youtube" %}
    </div>
  </section>
{% endif %}