---
layout: default
title: Home
---

<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      {% include nav.html %}
    </div>
  </div>
</div>

<div class="container-full">
  <div class="row">
    <div class="container grid-xl">
      <div class="columns">
        <div class="column col-11 col-mx-auto text-center">
          <h1 class="text-light text-bold mt-2">Our Applications</h1>
        </div>
        {% for category_iter in site.data.category_list %}
          {% capture category_id %}{{ category_iter[0] }}{% endcapture %}
          {% assign category = category_iter[1] %}
          
          {% if category.children != null  %}
            {% assign num_articles = 0 %}
            {% for child_iter in category.children %} 
              {% capture child_category_name %}{{ child_iter[0] }}{% endcapture %}
              {% assign child_post_category = site.categories[child_category_name] %}
              {% assign num_child_articles = child_post_category | size %}
              {% assign num_articles = num_articles | plus : num_child_articles %}
            {% endfor %}
          {% else %}
            {% assign post_category = site.categories[category_id] %}
            {% assign num_articles = post_category | size %}
          {% endif %}
          <div class="column col-4 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/{{ category_id | slugify }}">
              <div class="card card-link">
                <div class="card-body text-center my-4">
                  <h5 class="text-bold">{{ category.name }}</h5>
                  {% if category.size == 1 %}
                  <p class="m-0">{{ num_articles }} article</p>
                  {% else %}
                  <p class="m-0">{{ num_articles }} articles</p>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
        {% endfor %} 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container grid-xl">
      <div class="columns">
        <div class="column col-11 col-mx-auto">
          <h1 class="text-light text-bold text-center mt-2">Technology</h1>
          <div style="overflow:hidden" class="card">
            <div style="margin-top:-90px" class="card-body">
              {% capture technology_include %}{% include_relative _pages/technology.md %}{% endcapture %}
              {{ technology_include | page.contents | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
