
<section class="container-full footer">
  <svg id="anglesvg" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg"><path d="M720 60l720-60H0z" fill="#f5f6ff" /></svg>
  <div class="container grid-xl footer-contents mb-0">
    <div class="columns">
      <div class="column col-xs-12 col-sm-4">
        <img style="max-width: 70%; opacity: 0.7;" src="{{ site.baseurl }}/assets/images/{{ site.comp_logo-wide }}"/>
      </div>
      <div class="column col-xs-12 col-sm-3">
        {% if site.address %}
          <h4>Address</h4>
          <p>{{ site.address }}</p>
        {% endif %}
      </div>
      <div class="column col-xs-12 col-sm-3">
        {% if site.contact %}
          <h4>Contact</h4>
          {% if site.contact.tel %}
            <p>{{ site.contact.tel }}</p><br>
          {% endif %}
          {% if site.contact.tel %}
            <a href="mailto:{{ site.contact.mailto }}">{{ site.contact.mailto }}</a><br>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <section id="copyright">
      <div class="rows">
        <p>© 20{{ site.time | date: '%y' }} All rights reserved.</p>
        <p>Designed by</p> <a class="text-small" href="https://github.com/codebaragi23" target="_blank">Codebaragi23</a>
      </div>
    </section>
  </div>
</section>

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
      	if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
      	}
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}