<nav class="container grid-xl navbar">
  <div class="flex-vertical-center hide-sm">
    <a style="width: 80px" href="{{ site.url }}{{ site.baseurl }}" class="logo">
      <img src="{{ site.baseurl }}/assets/images/{{ site.comp_logo-long }}"/>
    </a>
    <p class="m-0 ml-2 text-light d-inline nowrap">{{ site.content_type }}</p>
  </div>
  <div class="text-center show-sm">
    <a style="width: 100%;" href="{{ site.url }}{{ site.baseurl }}" class="logo flex-centered">
      <img style="max-width: 150px;" src="{{ site.baseurl }}/assets/images/{{ site.comp_logo-wide }}"/>
    </a>
    <p class="m-0 text-light">{{ site.content_type }}</p>
  </div>
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-nav" aria-expanded="false">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <ul class="main-nav">
    {%- for link in site.data.navigation.main -%}
      {%- if link.url contains '://' -%}
        {%- assign url = link.url -%}
      {%- else -%}
        {%- assign url = link.url | relative_url -%}
      {%- endif -%}
      <li class="mx-4">
        <a  class="nav-links" href="{{ url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>