.nav-open {  
	header {
		background: #444;
		z-index: 10;

		@media #{$mid-point} {
			background: none;
		}
	}

	nav {
		margin: 20px 0 0 0;
		border: 0;

		a {
			display: block;
      margin: 0;
      &.nav-toggle:after {
        content: "X";
      }

		}

    a.dropdown:after {
      content: "∨";
      float: right;
    }
  
    a.dropdown.active {
      &:after {
        content: "∧";
      }
      +div.child {
        display: block;
      }
    }
  }
}

header.active {
  color: $brand-color;
  padding-bottom: 20px;
  display: block;

  @media #{$mid-point} {
    background: #444;
    div.child {
      display: block;
    }
  }
}

nav {
	text-transform: uppercase;
	font-size: 0.8em;
	width: 100%;

	ul {
    margin-bottom: 20px;
		padding: 40px 0 0 0;
    list-style: none;
	}

	@media #{$mid-point} {
		text-align: left;
		padding: 0 20px;

    ul {
      float: right;
      padding: 0;
    }

    li {
      float: left;
    }
	}

	a {
    margin-right: 50px;
		padding: 20px 10px;
		color: rgba(255, 255, 255, 0.8);
		transition: 0.2s ease-in-out;
		display: none;
		font-size: 1.2rem;
		font-weight: 500;

		@media #{$mid-point} {
			border-bottom: 2px solid rgba(255, 255, 255, 0);
			display: inline-block;
      padding: 10px;
		}

		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 10px;
			top: -22px;
			font-size: 1.9em;
			border: 0;
      margin: 0;

			@media #{$mid-point} {
				display: none;
			}
      
      &:after {
        content: "\2630"
      }

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		color: #fff;

		@media #{$mid-point} {
			border-bottom: 2px solid rgba(255, 255, 255, 0.6);
			display:inline;
			padding: 10px;
		}
	}

	@media #{$mid-point} {
    border: 0;
    padding: 0 20px;

		a {
      display: inline;
      &.highlight {
        border: 1px #ccc solid;
        border-radius: 5px;

        &:hover {
          background: #fff;
          color: $brand-color;
        }
      }
		}
	}

	a.active {
		color: #fff;
    font-weight: bold;
	}

  a.dropdown:after {
    content: "";
  }

  div.child {
    display: none;
    padding-left: 20px;
    @media #{$mid-point} {
      padding: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      float: none;
      a {
        font-size: 1.0rem;
		    font-weight: lighter;
        line-height: 1.7px;
        margin: 0;
      }

      a.active {
        color: #fff;
        font-weight: bolder;
      }
    }

    li {
      float: none;
    }
  }
}