// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $font-size;
  text-rendering: optimizeLegibility;
}

.row {
  margin-top: 40px;
  padding: 60px;
  &:nth-child(4n + 1) {
    clear: both;
    background: $dark-color;
  }

  &:nth-child(4n + 2) {
    clear: both;
    background:$highlight-color;
  }
}

a {
  color: $link-color;
  outline: none;
  text-decoration: none;

  &:focus {
    @include control-shadow();
  }

  &:hover,
  &:active,
  &.active {
    color: $link-color-dark;
    text-decoration: none;
  }
}
