---
layout: default
---

<section class="hero diagonal">
	<div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
		{% if page.heading %}
			<h2>{{ page.heading }}</h2>
		{% elsif page.title %}
			<h2>{{ page.title }}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>

<section class="diagonal alternate">
	<div class="container history">
    {{ content }}
  </div>
</section>

{% if site.members %}
<section class="diagonal alternate">
	<div class="container">
    <h3> Members </h3>
	  <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.members %}
				<li class="square">{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
</div>
</section>
{% endif %}