---
layout: default
---
{% include header.html %}

{% assign page_category = site.data.category_list[page.category] %}
<div class="container-full">
  <div class="container grid-xl">
    <div class="mt-12 show-md"></div>
    <div class="mt-8"></div>
    <div class="columns negative-m-xl">
      <div class="column col-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ site.url }}{{ site.baseurl }}">Home</a>
          </li>

          {% if page_category == null and site.categories[page.category] != null %}
            {% for category_iter in site.data.category_list %}
            {% assign child = category_iter[1].children[page.category] %}
              {% if child %}
                <li class="breadcrumb-item">
                  <a href="/{{category_iter[0]}}">{{ category_iter[1].name }}</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="">{{ child.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% else %}
            <li class="breadcrumb-item">
              <a href="">{{ page_category.name }}</a>
            </li>
          {% endif %}
        </ul>
        <h2 class="text-light text-bold">{{ page_category.name }}</h2>
        <p class="text-light mb-2">{{ page_category.description }}</p>
      </div>
      {{ content }}

      {% if page_category.children != null  %}
        {% for child_iter in page_category.children %}
          {% capture child_category_name %}{{ child_iter[0] }}{% endcapture %}
          {% assign child = child_iter[1] %}
          {% assign post_category = site.categories[child_category_name] %}
          {% assign num_articles = post_category | size %}
          <div class="column col-4 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/{{ page.category }}/{{ child_category_name | slugify }}">
              <div class="card card-link">
                <div class="card-body text-center my-4">
                  <h5 class="text-bold">{{ child.name }}</h5>
                  {% if child.size == 1 %}
                  <p class="m-0">{{ num_articles }} article</p>
                  {% else %}
                  <p class="m-0">{{ num_articles }} articles</p>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      {% else %}
        {% for post in site.categories[page.category] %}
          {% include article-card.html %}
        {% endfor %}
      {% endif %}
      {% include more-help.html %}
    </div>
  </div>
</div>

