<!doctype html>

<html lang="en">
  {% include head.html %}
  <body>
		<header class="default">
			<div class="container">
				<h1 class="company-name"><a href="{{site.url }}{{ site.baseurl }}/"><img src="{{site.url }}{{ site.baseurl }}/assets/images/{{ site.comp_logo-wide }}" alt="Mindforge" width="250"></a></h1>
				{% include navigation.html %}
			</div>
		</header>
    
    {{ content }}

    {% include footer.html %}
		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
	</body>
</html>
